<section id="about" class="text-center">
  <div class="about">
    <div class="row justify-content-center">
      <div class="sec-heading mt-4">
        <h2>About Us</h2>
        <span>Lorem ipsum dolor sit amet consect.</span>
      </div>
      <div class="sec-content mt-4">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur qui molestiae deserunt
          quibusdam, esse aperiam atque at facere ab, nesciunt error soluta ullam? Maxime sint nobis fuga excepturi
          ipsam.
        </div>
      </div>
    </div>
  </div>
</section>