<section id="partners" class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="sec-heading js-scroll slide-in-top">
          <h2>We Work With</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="card m-3 left">
        <div class="front">
          <img src="../../../assets/startups1.png" alt="start-ups">
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>Startups</h2>
            <span>lorem ipsum dnwamf</span>
            <div class="sm">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus recusandae, nostrum tempore, nulla praesentium libero.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-3 middle">
        <div class="front">
          <img src="../../../assets/entrepreneurs2.jpg" alt="entrepreneurs">
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>Entrepreneurs</h2>
            <span>lorem ipsum dnwamf</span>
            <div class="sm">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus recusandae, nostrum tempore, nulla praesentium libero.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-3 right">
        <div class="front">
          <img src="../../../assets/success.jpg" alt="MSMI">
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>MSMI's</h2>
            <span>lorem ipsum dnwamf</span>
            <div class="sm">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus recusandae, nostrum tempore, nulla praesentium libero.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>