<section class="section service ">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h4 class="service-title"><span class="h6 text-color" #text>Our Services</span></h4>
					<h2 class="mt-3 content-title">We provide a wide range of creative services</h2>

				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box1" class="h-100 p-2 service-card bg-white">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/laptop-code-solid.svg" alt="Web Development">
						</div>
						<div class="col-9">
							<h4 id="service">Web Development</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list ">
								<li>Wordpress</li>
								<li>Woocommerce</li>
								<li>Shopify</li>
							</ul>
						</div>
						<div class="col-9">
							<p>Irrespective of your business scale, our team of web developers will quickly give you
								online presence and expand your business reach beyond limits. Putting your business
								online with this service will help you grow your customers within no time.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box2" class="h-100 p-2 service-card bg-gray">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/code-solid.svg" alt="Software development">
						</div>
						<div class="col-9">
							<h4>Software development</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list">
								<li>.Net Core</li>
								<li>C#. Net</li>
								<li>Java</li>
								<li>Python</li>
							</ul>
						</div>
						<div class="col-9">
							<p>We provide end-to-end solution to your business problems whether it be migration of your
								decades old conventional system to latest technologies or new product development to
								replace manual business processes. Our experience with cross industry project management
								experience will help you minimize the risk of failure.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box3" class="h-100 p-2 service-card bg-white">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/js-square-brands.svg" alt="Javascript development">
						</div>
						<div class="col-9">
							<h4>Javascript development</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list">
								<li>Angular</li>
								<li>Node JS</li>
								<li>React JS</li>
								<li>Vue JS</li>
							</ul>
						</div>
						<div class="col-9">
							<p>This is the expertise we are proud of and pour our hear in. By using Javascript libraries
								& frameworks we develop highly efficient, scalable and reliable systems to overcome your
								competitors with best in class performance.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box4" class="h-100 p-2 service-card bg-gray">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/mobile-screen-button-solid.svg"
								alt="Mobile app development">
						</div>
						<div class="col-9">
							<h4>Mobile app development</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list">
								<li>Flutter</li>
								<li>Ionic</li>
							</ul>
						</div>
						<div class="col-9">
							<p>We don't operate as development service provider but your partner throughout your product
								development journey by guiding you through the entire journey starting from ideation,
								planning, designing, development, Testing and launch. Our approach to work with hybrid
								technologies for mobile app development will save both time and cost for you.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box5" class="h-100 p-2 service-card bg-white">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/aws-brands.svg" alt="Cloud services">
						</div>
						<div class="col-9">
							<h4>Cloud services</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list">
								<li>AWS</li>
								<li>GCP</li>
								<li>Azure</li>
							</ul>
						</div>
						<div class="col-9">
							<p>Irrespective of your business scale, our team of web developers will quickly give you
								online presence and expand your business reach beyond limits. Putting your business
								online with this service will help you grow your customers within no time.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 p-2">
				<div id="box1" class="h-100 p-2 service-card bg-gray">
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<img src="../../../assets/icons-svg/microchip-solid.svg" alt="Cutting edge development">
						</div>
						<div class="col-9">
							<h4>Cutting edge development</h4>
						</div>
					</div>
					<div class="row justify-content-center p-2">
						<div class="col-3 dFlex">
							<ul class="service_list">
								<li>Machine Learning</li>
								<li>AI</li>
								<li>IoT</li>
								<li>chatbot</li>
								<li>AR</li>
							</ul>
						</div>
						<div class="col-9">
							<p>Irrespective of your business scale, our team of web developers will quickly give you
								online presence and expand your business reach beyond limits. Putting your business
								online with this service will help you grow your customers within no time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>