<section class="section service ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
            <div class="section-title">
                <span class="h6 text-color">Our Services</span>
                <h2 class="mt-3 content-title">We provide a wide range of creative services</h2>

            </div>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','html5'] "></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fas','server'] "></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fas','database'] "></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','aws']"></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','github-square']"></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','angular']"></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','react']"></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item mb-5">
                    <i><fa-icon [spin] = 'false' [icon]="['fab','node-js']"></fa-icon></i>
                    <h4 class="mb-3">Web development.</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cumque.</p>
                </div>
            </div>

        </div>
    </div>
</section>
