<div class="container-fluid margin">
    <div class="row justify-content-center d-block">
      <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let item of reviews;">
          <main [ngClass]="item.bgclass">
              <div class="wrapper">
                  <section class="review-content">
                      <!-- title -->
                      <div class="title">
                          <h2>Testimonial</h2>
                          <div class="underline"></div>
                      </div>
                      <!-- review -->
                      <article class="review">
                          <div class="img-container ">
                              <img [src]="item.img" id="person-img" alt="">
                          </div>
                          <h4 id="author">{{item.name}}</h4>
                          <p id="job">{{item.job}}</p>
                          <p id="info">
                              {{item.text}}
                          </p>
                      </article>
                  </section>
              </div>
          </main>
        </ng-template>
      </ngb-carousel>
    </div>
</div>
