.js-scroll {
	opacity: 0;
	transition: opacity 500ms;
} 
.js-scroll.scrolled {
	opacity: 1;
}
.slider{
    background: url(../../../assets/team-5842784_1920.jpg) no-repeat;
    background-size: cover;
    background-position: 10% 55%;
    position: relative;
    padding: 200px 0;
    overflow: hidden;
}
.slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
}
.slider .block span{
    letter-spacing: 1px;
}
.self-row{
    justify-content: center;
    align-items: center;
}
.text-white{
    color: #fff !important;
}
.text-capitalize{
    text-transform: capitalize !important;
}
.slider .block h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #fff;
}
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
} 
.js-scroll.scrolled {
    opacity: 1;
}
.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}
.scrolled.animate-logo{
    animation: animate-logo 4s infinite 1s both;
}
/*@media (max-width: 767px) {
  .scrolled.animate-logo{
    animation: none;
  }
}*/
.scrolled.slide-in-top {
    animation: slide-in-top 1s ease-in-out both;
}
.scrolled.slide-in-bottom {
    animation: slide-in-bottom 1s ease-in-out both;
}
.scrolled.slide-in-left {
    animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-in-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-top {
    
    0% {
        -webkit-transform: translateX(-100%);
        transform: translate(-0%,-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translate(0%,0%);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
}
  
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
}
  
@keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
}
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
