<div class="slider">
    <div class="container">
        <div class="row self-row">
            <div class="col-lg-9 col-md-10">
                <div class="block">
                    <span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
                    <h1 class="mb-5">
                        Our work is
                        <br>
                        presentation of our
                        <br>
                        capabilities.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
