<app-navbar></app-navbar>
<div class="parent">
	<div class="div1"></div>
	<div class="div2">
		<h2>Ideation</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div3"></div>
	<div class="div4"></div>
	<div class="div5">
		<h2>Planning</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div6"></div>
</div>
<div class="parent">
	<div class="div7"></div>
	<div class="div8">
		<h2>Design</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div9"></div>
	<div class="div10"></div>
	<div class="div11">
		<h2>Development</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div12"></div>
</div>
<div class="parent">
	<div class="div13"></div>
	<div class="div14">
		<h2>Testing</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div15"></div>
	<div class="div16"></div>
	<div class="div17">
		<h2>Launch</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et repellendus similique deserunt vero! Dicta dolore illum quod assumenda amet.</p>
	</div>
	<div class="div18"></div>
</div>
<app-footer></app-footer>