/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// body{
// 	background: black;
// }
.dFlex{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}